header {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-color: white;
	background-position: 15px;
	vertical-align: middle;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
}
